---
interface Props {
  backgroundColor?: string;
}

const props = Astro.props;
const { backgroundColor = '--red' } = props;

const date = new Date();

const monthNames = [
  'January', 'February', 'March', 'April', 'May', 'June',
  'July', 'August', 'September', 'October', 'November', 'December'
];
const dayNames = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'];

const month = monthNames[date.getMonth()];
const day = date.getDate();
const weekday = dayNames[date.getDay()];

const skillList = ['WebGL', 'Three.js', 'Astro', 'GSAP', 'Next.js'];
---

<aside class="side">
  <div class="side__date">
    <div
      class="side__date-deco border-bottom"
        style=`background-color: var(${backgroundColor});`
        >
        {month}
    </div>
    <div class="side__date-day">{day > 10 ? day : `0${day}`}.</div>
    <div
      class="side__date-deco border-top border-bottom"
      style=`background-color: var(${backgroundColor});`
      >
      {weekday}
    </div>
  </div>
  <div class="side__skill">
    <h2 class="side__skill-title">skil set</h2>
    <ul class="side__skill-list">
      {skillList.map(skill => (
        <li class="side__skill-item">{skill}</li>
      ))}
    </ul>
  </div>
  <a class="side__contact" href="/contact">contact</a>
  <div class="side__bottom">
    <div class="side__from">japan</div>
  </div>
</aside>

<style lang="scss">
  .side {
    grid-column: 4 / 5;
    grid-row: 1 / -1;
    position: relative;
    &::before {
      content: '';
      width: 1px;
      height: calc(100dvh - 2.5rem);
      position: absolute;
      top: 0;
      left: 0;
      background-color: var(--black);
    }
    &__date {
      text-align: center;
    }
    &__date-deco {
      font-family: var(--ff-epilogue);
      font-size: 1.25rem;
      padding-top: 0.3rem;
      text-transform: uppercase;
      font-weight: 500;
      &.border-top {
        border-top: 1px solid var(--black);
      }
      &.border-bottom {
        border-bottom: 1px solid var(--black);
      }
    }
    &__date-day {
      font-size: 5rem;
      font-weight: 700;
      margin-block: 0.5rem;
    }
    &__skill {
      font-family: var(--ff-epilogue);
    }
    &__skill-title {
      text-transform: uppercase;
      font-size: 1rem;
      border-bottom: 12px solid var(--black);
      padding: 0.5rem;
    }
    &__skill-list {
      border-bottom: 12px solid var(--black);
      padding: 0.5rem;
      display: flex;
      flex-wrap: wrap;
      font-size: 0.85rem;
      column-gap: 0.75rem;
    }
    &__contact {
      width: fit-content;
      display: block;
      margin-left: auto;
      padding: 0.25rem;
      text-transform: uppercase;
      font-size: 0.875rem;
    }
    &__bottom {
      position: absolute;
      right: -0.5rem;
      bottom: 0.5rem;
    }
    &__from {
      writing-mode: sideways-lr;
      text-transform: uppercase;
      font-weight: 700;
      color: var(--red);
      font-size: 2rem;
    }
  }
</style>